/*GENERAL*/

body {
    margin: 0;
    font-family: "Starwars";
}

@font-face {
    font-family: "Starwars";
    src: url('fonts/star_jedi/starjedi/Starjedi.ttf');
    font-weight: 600;
}

/*Desktop*/

/*Pagina Principal*/

.encabezado {
    display: flex;
    height: 10vh;
    background-color: black;
    align-items: center;
    justify-content: center;
    z-index: 5;
    width: 100%;
}

#lego {
    width: 5vh;
}

#starwars {
    width: 15vh;
    margin-left: 1vh;
}

.pagina-principal-cuerpo {
    background-color: black;
    display: flex;
    color: white;
    box-sizing: border-box;
    height: 90vh;
}


.tarjeta-inicio {
    width: 24.5%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    height: 90vh;
    align-items: center;
    justify-content: space-between;
}

.tarjeta-inicio h1 {
    position: relative;
    top: 0;
    font-size: 30px;
    opacity: 100% !important;
}

.tarjeta-inicio img {
    opacity: 50%;
}

.tarjeta-inicio:hover {
    animation: ampliar 0.5s forwards;
}

.tarjeta-inicio:hover img {
    opacity: 100%;
}

.planeta-complementario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
}

.planeta-complementario-visible {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#planeta1 {
    width: 150px;
    height: 150px;
}

#planeta2 {
    width: 300px;
    height: auto;
}

@keyframes ampliar {
    from {
        width: 24.5%;
    }

    to {
        width: 50%;
    }
}

.barra-blanca {
    background-color: white;
    width: 0.8%;
    z-index: 4;
}

#sable1 {
    box-shadow: 8px 0px 12px red, -8px 0px 12px red
}

#sable2 {
    box-shadow: 8px 0px 12px rgb(102, 0, 128), -8px 0px 12px rgb(102, 0, 128)
}

#sable3 {
    box-shadow: 8px 0px 12px rgb(0, 119, 255), -8px 0px 12px rgb(0, 102, 255)
}

/*Pagina de personajes*/

.cuerpo-personajes {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tarjeta{
    gap: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    overflow: hidden;
    color: rgb(0, 0, 0);
    flex-direction: column;
    height: auto;
}

.tarhumanos{background-color: #f8d744;}
.tarhumanos-extendido{background-color: #f8d744;
display: flex;align-self: center;min-height: 40vh;}
.tarhumanos:hover {
    background-color: #ffe77c;
    color: white;
    animation: ampliarVertical 0.5s forwards;
}
.tardroid {
    background-color: rgb(56, 247, 238);
}
.tardroid-extendido {
    background-color: rgb(56, 247, 238);
}
.tardroid:hover {
    background-color: #83fdf7;
    color: white;
    animation: ampliarVertical 0.5s forwards;
}
.taryoda {
    background-color: rgb(255, 76, 76);
}
.taryoda-extendido {
    background-color: rgb(255, 76, 76);
}

.taryoda:hover {
    background-color: rgb(252, 124, 124);
    color: white;
    animation: ampliarVertical 0.5s forwards;
}
.tarwookie {
    background-color: rgb(40, 167, 40);
}
.tarwookie-extendido {
    background-color: rgb(40, 167, 40);
}
.tarwookie:hover {
    background-color: rgb(71, 160, 71);
    color: white;
    animation: ampliarVertical 0.5s forwards;
}

.tarjeta-personaje{display: flex;flex-direction: row;align-items: center;justify-content: center;gap: 3vh;}
.tarjeta-personaje img{max-height: 30vh;max-width: 30%;}


@keyframes ampliarVertical {
    from {
        height: 30vh
    }

    to {
        height: 40vh;
    }
}
.oculto{display: none;}
.humanos{display: flex;width: 100%;gap: 3vh;box-sizing: border-box;align-items: center;justify-content: center;margin-bottom: 5vh;flex-wrap: wrap;}
.tarjeta-charac{display: flex;flex-direction: column;width: 30%;border-radius: 10%;box-shadow: 3px 3px 3px black;background-color: rgba(255, 255, 255, 0.164);padding: 3vh;text-align: center;box-sizing: border-box;}
.tarjeta-charac img{max-width: 80%;align-self: center;}



.barra-blanca-personaje {
    width: 100%;
    height: 0.8vh;
    z-index: 10;
}

#bar1 {
    box-shadow: 0px 8px 5px red, 0px -8px 5px red
}

#bar2 {
    box-shadow: 0px 8px 5px rgb(101, 0, 126), 0px -8px 5px rgb(102, 0, 128)
}

#bar3 {
    box-shadow: 0px 8px 5px rgb(0, 119, 255), 0px -8px 5px rgb(0, 102, 255)
}