* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background-image: url(images/fondo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.encabezado {
    display: flex;
    height: 10vh;
    background-color: black;
    align-items: center;
    justify-content: center;
    z-index: 5;
    width: 100%;
}

/*Vista Peliculas*/
.contenedor_movies {
    display: grid;
    grid-template-areas: "pelicula1 pelicula2 pelicula3"
        "pelicula4 pelicula5 pelicula6";

}

.contenedor_movies img {
    width: 80%;
    height: 90%;
}

.pelicula1 {
    grid-area: pelicula1;
}

.pelicula2 {
    grid-area: pelicula2;
}

.pelicula3 {
    grid-area: pelicula3;
}

.pelicula4 {
    grid-area: pelicula4;
}

.pelicula5 {
    grid-area: pelicula5;
}

.pelicula6 {
    grid-area: pelicula6;
}

/*Vista Naves*/

.body_naves {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor_naves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    height: 300px;
    justify-items: center;
    align-items: center;
    grid-template-areas: "halcon-milenario descrip-halcon-milenario";
    width: 80%;
}

#halcon-milenario {
    grid-area: halcon-milenario;
}

#descrip-halcon-milenario {
    grid-area: descrip-halcon-milenario;
}

.descripcion-naves {
    background-color: black;
    color: white;
}

.videos-naves {
    background-color: white;
}