/*GENERAL*/

body {
    margin: 0;
    font-family: "Starwars";
}

@font-face {
    font-family: "Starwars";
    src: url('fonts/star_jedi/starjedi/Starjedi.ttf');
    font-weight: 600;
}

/*Desktop*/

/*Pagina Principal*/

.encabezado {
    display: flex;
    height: 10vh;
    background-color: black;
    align-items: center;
    justify-content: center;
    z-index:5;
    width: 100%;
}

#lego {
    width: 5vh;
}

#starwars {
    width: 15vh;
    margin-left: 1vh;
}

.pagina-principal-cuerpo{background-color: black;display: flex;color:white;box-sizing: border-box;height: 90vh;}


.tarjeta-inicio{width: 24.5%;display: flex;box-sizing: border-box;flex-direction: column;text-align: center;overflow: hidden;height: 90vh;align-items: center;justify-content: space-between;}

.tarjeta-inicio h1{position:relative;top:0;font-size: 30px;opacity: 100% !important;}

.tarjeta-inicio img{opacity: 50%;}
.tarjeta-inicio:hover {animation: ampliar 0.5s forwards;}
.tarjeta-inicio:hover img{opacity: 100%;}


@keyframes ampliar{
    from{width: 24.5%;}
    to {width: 50%;}
}

.barra-blanca{background-color: white;width: 0.8%;box-shadow: 0 0 20px 10px red;z-index: 4;}
