* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(images/fondo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.encabezado {
    display: flex;
    height: 10vh;
    background-color: black;
    align-items: center;
    justify-content: center;
    z-index: 5;
    width: 100%;
    position: fixed;
}

/*Vista Peliculas*/
.contenedor_movies {
    display: grid;
    grid-template-areas: "pelicula1 pelicula2 pelicula3"
        "pelicula4 pelicula5 pelicula6";

}

.contenedor_movies img {
    width: 80%;
    height: 90%;
}

.pelicula1 {
    grid-area: pelicula1;
}

.pelicula2 {
    grid-area: pelicula2;
}

.pelicula3 {
    grid-area: pelicula3;
}

.pelicula4 {
    grid-area: pelicula4;
}

.pelicula5 {
    grid-area: pelicula5;
}

.pelicula6 {
    grid-area: pelicula6;
}


/*Vista Naves*/

#titulo-naves {
    color: white;
    font-size: 8vh;
    position: fixed;
    top: 10vh;
    z-index: 6;
}

.contenedor_naves {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "halcon-milenario descrip-halcon-milenario"
        "descrip-crucero-estelar crucero-estelar"
        "interceptor-jedi-de-ahsoka descrip-interceptor-jedi-de-ahsoka"
        "descrip-caza-tie-y-ala-x-fusionados caza-tie-y-ala-x-fusionados";
    width: 80%;
    top: 20vh;
    position: relative;
    overflow-y: scroll;
    height: 80vh;
    box-shadow: 2px 5px 10px 10px rgba(255, 255, 255, 0.219);

    &::-webkit-scrollbar {
        display: none;
    }
}

.main-starships {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#halcon-milenario {
    grid-area: halcon-milenario;

}

#descrip-halcon-milenario {
    grid-area: descrip-halcon-milenario;
}

#descrip-crucero-estelar {
    grid-area: descrip-crucero-estelar;
}

#crucero-estelar {
    grid-area: crucero-estelar;
}

#interceptor-jedi-de-ahsoka {
    grid-area: interceptor-jedi-de-ahsoka;
}

#descrip-interceptor-jedi-de-ahsoka {
    grid-area: descrip-interceptor-jedi-de-ahsoka;
}

#descrip-caza-tie-y-ala-x-fusionados {
    grid-area: descrip-caza-tie-y-ala-x-fusionados;
}

#caza-tie-y-ala-x-fusionados {
    grid-area: caza-tie-y-ala-x-fusionados;
}

.descripcion-naves {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5vh;
}


.videos-naves {
    box-sizing: border-box;
    background-color: white;
    width: 100%;

}

.video-crucero {
    width: 100%;
    box-sizing: border-box;
}

.video-halcon {
    width: 100%;
}

.subtitulo {
    padding: 2vh;
    color: white;
    font-size: 5vh;
    z-index: 6;
    text-align: center;

}